body {
    font-family: "Fira Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2em;
}

h1 {
    font-size: 42px;
    text-align: center;
}

pre {
    font-family: Menlo, Monaco, "Lucida Console", "Fira Code", "Courier New", monospace, serif;
    white-space: pre-wrap;
}

textarea {
    padding: 0.5rem;
    width: 100em;
    height: 40em;
    display: block;
    vertical-align: top;
    resize: none;
    overflow: scroll;
}

span.label {
    font-weight: bolder;
}

p {
    width: 70em;
}

p.error {
    color: red;
    font-weight: bolder;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

